extends layout

block content
  h1 My Wonderful Node.js App
  if !user
    p Welcome, please #[a(href="/login") login].
  else
    p Welcome back, #{user.username}!
    p I made a #[a(href="/promise") promise], but maybe it's time to #[a(href="/async-await-eat") sync & wait & eat] first. 🤭
    p Feel free to #[a(href="/logout") logout].